body {
  overflow-x: hidden;
  position: relative;
}

.diretores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.diretores::after {
  content: "";
  height: 1200px;
  width: 200px;
  display: block;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  background-image: url('/imgs/decorador-diretores.png');
  right: 0;
}

.diretores-titulo {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 120px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px;
}

.diretor {
  display: grid;
}

.diretor + .diretor {
  margin-top: 120px;
}

.diretor:nth-of-type(odd) {
  position: relative;
  grid-column: 2/-1;
  box-shadow: -80px 0 0 var(--cor-p-5), 500px 0 0 var(--cor-p-5);
}

.diretor:nth-of-type(even) {
  position: relative;
  grid-column: 1/3;
  box-shadow: 80px 0 0 var(--cor-p-5), -500px 0 0 var(--cor-p-5);
}

.diretor:nth-of-type(odd)::before {
  content: " ";
  position: absolute;
  width: 280px;
  height: 280px;
  background: url("/imgs/foto_diretor.png");
  background-size: cover;
  top: -36px;
  left: -260px;
}

.diretor:nth-of-type(even)::after {
  content: " ";
  position: absolute;
  width: 280px;
  height: 280px;
  background: url("/imgs/foto_diretor.png");
  background-size: cover;
  top: -36px;
  right: -260px;
}

.diretor {
  margin: auto 0;
  max-height: fit-content;
  background-color: var(--cor-p-5);
  z-index: -1;
}

.texto-diretor {
  padding: 0;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  width: fit-content;
}

.diretor {
  z-index: 2;
}

@media (max-width: 1000px) {
  .diretor:nth-of-type(odd)::before {
    top: -48px;
    left: -220px;
  }
  .diretor:nth-of-type(even)::after {
    top: -48px;
    right: -220px;
  }
}

@media (max-width: 800px) {
  .diretor:nth-of-type(odd)::before {
    width: 240px;
    height: 240px;
    top: -20px;
    left: -160px;
  }
  .diretor:nth-of-type(even)::after {
    width: 240px;
    height: 240px;
    top: -20px;
    right: -160px;
  }
  .diretores-titulo h1 {
    word-break: break-all;
  }
  .texto-diretor {
    margin: 0 auto;
  }
  .texto-diretor h2 {
    max-width: 16ch;
    margin: 0 auto;
  }
}
